---
http_interactions:
- request:
    method: post
    uri: https://api.typesafe.ai/v1/systemone
    body:
      encoding: UTF-8
      string: '{"model":"jev-latest","state":"Help! My payouts have been failing for
        3 days.","questions":{"is_urgent":{"type":"noul","instructions":"Does this
        convey urgency?","criteria":{"true":"Explicitly time-sensitive","false":"No
        urgency expressed"}},"department":{"type":"choice","instructions":"Which team
        should handle this?","criteria":{"billing":"Payments, invoicing, refunds","technical":"Bugs,
        outages, integrations","sales":"Pricing, upgrades, new accounts"}},"frustration":{"type":"score","instructions":"How
        frustrated is the customer?","criteria":["Calm","Frustrated","Very angry"]}}}'
    headers:
      Authorization:
      - Bearer <AUTH_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Typesafe-Request-Id:
      - "<X_TYPESAFE_REQUEST_ID>"
    body:
      encoding: UTF-8
      string: '{"detail":{"error_type":"authentication_error","message":"Cannot authenticate
        with the server. Please check your API key and try again."}}'
  recorded_at: Wed, 16 Sep 2026 04:43:04 GMT
recorded_with: VCR 6.4.0
