---
http_interactions:
- request:
    method: get
    uri: https://api.typesafe.ai/v1/models
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Typesafe-Request-Id:
      - "<X_TYPESAFE_REQUEST_ID>"
    body:
      encoding: UTF-8
      string: '{"models":[{"name":"jev-latest","description":"The latest iteration
        of TypeSafe''s System One Model: Jev","release_date":"2026-09-10T18:38:01.391457+00:00"},{"name":"jev-preview","description":"A
        preview version of `jev-latest`: should be better in most ways","release_date":"2026-09-10T18:39:06.057655+00:00"}]}'
  recorded_at: Wed, 16 Sep 2026 04:43:04 GMT
recorded_with: VCR 6.4.0
